*{
    box-sizing: border-box;
    font-family: PT Root UI, sans-serif;
}

:root{
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;

    --border-radius: 3px;
    --linear-gradient: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);
	--box-shadow: 
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);
}

html{
    background: url(https://phonoteka.org/uploads/posts/2021-06/1622503925_18-phonoteka_org-p-kosmos-art-galaktika-krasivo-18.jpg) no-repeat center center fixed;  
}


body{
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:white;

}


.main_name{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #48226e;
    background-color: white;
    text-align: center;
}


.gradient-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 15px 15px;
    margin: 35px 15px 35px 7px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    cursor: pointer;
}
.gradient-button:hover {
    background-position: right center;
    cursor: pointer;
}

.container{
    /*background-color:white;*/
    border-radius: 10px;
}
.catalog{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 25px;
    color: #48226e;
}
#catal{
    width: 350px;
    height: 60px;
    margin-left: 500px;
    background-color:white;
    margin-top: 20px;
}
.elm__name{
    font-weight: 400;
}

.footer-class{
    background-color: white;
    height: 100px;
    border-radius: 10px;
}

.background {
    text-align: center;
    width: 100%;
    background: #ffffff;
    /*background: url("https://i.pinimg.com/originals/d7/59/44/d759447b869765bd98d827565055407e.gif") top center;  */
}
.background-text {
    padding: 10px 20px;
    background: #ffffff;
    display: inline-block;
}
.background-text span {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 125px;
    line-height: 48px;
    text-transform: uppercase;
    background: url("https://i.pinimg.com/originals/d7/59/44/d759447b869765bd98d827565055407e.gif") top -130px center;  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo{
    display: flex;
}

.left_logo{
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 48px;
    text-transform: uppercase;
    background: url("https://i.pinimg.com/originals/d7/59/44/d759447b869765bd98d827565055407e.gif") top -130px center;  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right: 2px solid rgba(0, 0, 0, .1);
    height: fit-content;
    margin-top: 10px;
    margin-left: 10px;
}

.right_logo{
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 25px;
    color: #48226e;
    margin-top: 10px;
    margin-left: 10px;
}