
*{
    box-sizing: border-box;
}

:root{
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;

    --border-radius: 3px;
    --linear-gradient: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);
	--box-shadow: 
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);
}

html{
    background: url(https://phonoteka.org/uploads/posts/2021-06/1622503925_18-phonoteka_org-p-kosmos-art-galaktika-krasivo-18.jpg) no-repeat center center fixed; 
}


header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:white;
}

.main_but{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.main_name{
    font-family: PT Root UI, sans-serif;
    margin: 7px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #48226e;
}

#main{
    width: 600px;
    height: 100px;
}

.gradient-button {
    text-decoration: none;
    display: inline-block;
    padding: 15px 15px;
    margin: 35px 15px 35px 7px;
    box-shadow: 0 0 0 rgba(0, 0, 0, .1);
    transition: .5s;
    font-family: PT Root UI, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #1D3057;
    width: fit-content;
    height: 50px;
    background-image: linear-gradient(to right, #fcbbbd 3%, #a36abc 90% );
    border-radius: 3px;
    cursor: pointer;
}
.gradient-button:hover {
    background-position: right center;
    background-image: linear-gradient(to right, #a36abc 3%, #a36abc 90% );
    transition: 10s;
    cursor: pointer;
}

.info{
    margin-top: 20px;
    background-color: white;
    border-radius: 1px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin: 0 60px 30px 30px;
    text-align: center;
    width: min-content;
}

#inf_txt{
    text-align: left;
    margin-top: 10px;
    color: #005baa;
    font-size: 30px;
    width: 300px;
}

.goods{
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    width: 850px;
}

#mygood_txt{
    font-family: PT Root UI, sans-serif;
    margin-bottom: 23px;
    margin-top: 7px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 25px;
    color: #48226e;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.footer-class{
    background-color: white;
    height: 100px;
    border-radius: 10px;
}

.lk_div{
    background-color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 100px;
}

.container_lk{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#login{
    text-align: center;
    font-family: PT Root UI;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #48226e;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 20px 0;
    margin: 0 15px;
}

#passw_txt{
    text-align: center;
    font-family: PT Root UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #48226e;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 20px 0;
    margin: 0 15px;
}

.goods_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 25px;
}

.goods_container_item{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 29px 30px 34px 30px;
}

.item_number{
    font-family: PT Root UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 14px ;
}

.info_pos{
    font-family: PT Root UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #999999;
}

.item_status{
    font-family: PT Root UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #999999;
    padding-top: 8px;
}

.item_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.item_btn{
    width: fit-content;
    height: 39px;
    padding: 7px 10px;
    background: rgba(29, 48, 87, 0.1);
    border-radius: 3px;
    font-family: PT Root UI;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #1D3057;
}

.item_btn a{
    font-family: PT Root UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #1D3057;
}

.logo{
    display: flex;
}

.left_logo{
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 48px;
    text-transform: uppercase;
    background: url("https://i.pinimg.com/originals/d7/59/44/d759447b869765bd98d827565055407e.gif") top -130px center;  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right: 2px solid rgba(0, 0, 0, .1);
    height: fit-content;
    margin-top: 10px;
    margin-left: 10px;
}

.right_logo{
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 25px;
    color: #48226e;
    margin-top: 10px;
    margin-left: 10px;
}